.edit-page {
  display: flex;
  flex: 1;
  align-items: start;
  justify-content: center;
  padding: .8125rem;

  .row {
    align-items: flex-start;

    .previous {
      display: block;
      margin: 1rem auto;
      text-align: center;
      padding: .5rem 0;
      color: $text-color;
      text-decoration: none;
      font-family: $font-family;
      font-size: .875rem;
      border: 1px solid $light-grey;
      border-radius: 1.2rem;
      font-weight: bold;
      text-transform: capitalize;
      min-width: 160px;

      @include media-breakpoint-down(xs) {
        border: none;
        min-width: auto;
        margin: 0;
      }


      .back {
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }

      .fa-arrow-left {
        display: none;

        @include media-breakpoint-down(xs) {
          display: block;
          text-align: left;
        }
      }
    }
  }

  .chat-bot {
    position: fixed;
    right: .8125rem;
    bottom: .8125rem;
    background-color: $secondary-color;
    color: $white;
    display: flex;
    align-items: center;
    border-radius: 1.625rem;

    @include media-breakpoint-down(xs) {
      background-color: $chatbot-mobile;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .icon {
      padding: 1.175rem;
    }

    a {
      color: $white;
      text-decoration: none;
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    p {
      font-family: $font-family;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0;

      span {
        display: block;
        font-size: .75rem;
        font-weight: normal;
      }

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  .fixed-bottom {
    margin: auto;
    text-align: center;
    padding: 1.625rem 0;

    .legal-notice {
      font-family: $font-family;
      color: $text-color;
      font-size: .875rem;
      text-decoration: none;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}