body {
  line-height: 1.5;
  font-family: $font-family;
}

.home-page {
  .container {
    width: 90%;

    .main-content {
      .text {
        flex: 0 0 100%;
        max-width: 100%;

        @include breakpoint(tablet) {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 1.5rem 2rem;
        }

          h1 {
            font-weight: bold;
            text-align: center;
            font-size: 2rem;
            margin: 1.5rem 0;
          }

          p {
            font-size: 1.25rem;
            text-align: center;

            @include breakpoint(tablet) {
              text-align: justify;

            }

              .text-dark {
              color: $grey-dark;
            }
          }

        }

      .publicity {
        display: none;

        @include breakpoint(tablet) {
          display: block;
          flex: 0 0 50%;
          max-width: 50%;
          padding: 1.5rem 2rem;
        }

        img {
          position: sticky;
          top: 0;
          z-index: 10;
          max-width: 100%;
          height: auto;
          text-align: center;
        }
      }
    }

    .title {
      flex: 0 0 100%;
      max-width: 100%;
      h2 {
        text-align: center;
        font-weight: bold;
        padding: 1.5rem 0;
        margin: 1.5rem 0;
        font-size: 2rem;
      }
    }

    .content {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1.5rem 1.5rem 0;

      @include breakpoint(tablet) {
        flex-direction: row;
      }
        .img {
          max-width: 100%;
          height: auto;
          padding: 0 1.5rem;
          margin: 0 auto;

          @include breakpoint(tablet) {
            margin: 2rem auto;
            padding-bottom: 0;
          }
        }
        p {
          font-size: 1.25rem;
          margin-bottom: 0;
          text-align: justify;

          strong {
            &.font-italic {
              font-style: italic;
            }
          }
        }
    }

    .more-details {
      padding: 1.5rem 0;

      p {
        margin-left : 1.25rem;
        font-size: 1.25rem;
      }
    }
  }
  .container-fluid {
    margin: 0 auto;
    padding: 0;

    .pre-header {
      background: url("/assets/images/kiloren.jpg") top center no-repeat;
      height:30rem;

      @include breakpoint(tablet) {
        background: url("/assets/images/kiloren-2x.jpg") top center no-repeat;
        user-select: none;
        height:50rem;
      }
    }

    .pre-footer {
      background:  url("/assets/images/stormtroopers.jpg") top center no-repeat;
      height: 15rem;

      @include breakpoint(tablet) {
        background: url("/assets/images/stormtroopers-2x.jpg") top center no-repeat;
        height: 20rem;
        user-select: none;
      }
    }
  }
}