form {
  .form-group {
    margin-bottom: 3.125rem;

    label {
      font-size: 1.5rem;
      line-height: 1.5;
      font-family: $font-family;
      font-weight: bold;
      color: $text-color;
      padding: 1rem 0;
    }

    input {
      background-color: #eff3f7;
      color: #424649;
      border-radius: 8px;
      border: none;
      padding: 1em;
      height: 3.75rem;
      font-size: 1rem;
      font-family: $font-family;

      &:hover,
      &:focus,
      &:active {
        background-color: #eff3f7;
        border: none;
        box-shadow: none;
      }

      @include media-breakpoint-down(xs) {
        height: 3.125rem;
      }

      &:valid {

        + .fa-check {
          display: block;
          color: $primary-color;
          float: right;
          position: relative;
          top: -40px;
          text-align: right;
          height: 1.625rem;
          right: .9375rem;
          margin-bottom: 0;

          @include media-breakpoint-down(xs) {
            top: -35px;
          }
        }
      }
    }

    .fa-check {
      display: none;
    }
  }

  .btn {
    background-color: #eff3f7;
    color: $light-grey;
    border: none;
    padding: 1em;
    height: 3.75rem;
    font-size: 1.125rem;
    font-family: $font-family;
    border-radius: 1.875rem;
    min-width: 120px;
    float: right;

    &:hover,
    &:focus,
    &:active,
    &.valid {
      background-color: $primary-color;
      color: $white;
      border: none;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      height: 3.125rem;
      line-height: .8;
    }
  }
}