header {
    background: url("/assets/images/header-bg.png") top center no-repeat;
    height: 32rem;


    @include media-breakpoint-up(lg) {
        background: url("/assets/images/header-bg-2x.png") top center no-repeat;
        height: 33rem;
        user-select: none;
    }

    .container {

        .logo {
            position: relative;
            top: 1rem;
            margin: auto;

            @include media-breakpoint-up(lg) {
                top: 6rem;
            }
        }
    }
}