.navbar {
  background-color: $black;
  width: 100%;
  @include breakpoint(tablet) {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.3rem 6rem;
    font-size: 1.1rem;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .navbar-collapse {
    @include breakpoint(tablet) {
      justify-content: space-between;
      align-items: center;
    }

    a {
      color: $white;
      font-weight: bold;
      text-decoration: none;
      text-transform: capitalize;
    }

    &#nav-content {
        &.active {
        display: block;
      }

      background: $black;
      width: 100%;
        a {
          width: 100%;
          display: block;
          margin: 2rem auto;
        }
    }
  }
}
